.NoDimensions{backgroundcolor:pink; font-family:Times,Georgia; font-size:30px;}
.HasDimensions{backgroundcolor:yellow; fontfamily:Arial, Verdana; fontsize:20px; width:50%}
.Hidden{backgroundcolor:lightblue;fontfamily:Arial, Verdana; fontsize:12px; visibility:hidden;}